In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_log_error
from sklearn.externals import joblib

In [3]:
train_data=pd.read_csv('train.csv')
#test_data=pd.read_excel('test.xlsx')
#sample_data=pd.read_csv('sample.csv')

In [4]:
def create_train_data(df):
    #drop those rows which price is missing
    ide=[]
    for i in range(df.shape[0]):
        if df['price'][i]=='?':
            ide.append(i)
    df=df.drop(ide,axis=0)
    
    #reset index
    df.reset_index(inplace=True,drop=True)
    
    #replace the '?' value by 'NaN'
    
    for col in df.columns:
        ide=[]
        for i in range(df.shape[0]):
            if df[col][i]=='?':
                ide.append(i)
        for i in ide:
            df[col][i]=np.nan
            
    #drop 'normalized-losses'
    
    df=df.drop('normalized-losses',axis=1)
    
    #handling missing values
    
    df['stroke']=df['stroke'].fillna(df['stroke'].median())
    
    df['bore']=df['bore'].fillna(df['bore'].median())
    
    df['peak-rpm']=df['peak-rpm'].fillna(df['peak-rpm'].median())
    
    df['num-of-doors']=df['num-of-doors'].fillna(df['num-of-doors'].value_counts().index[0])
    
    #separate label in data from the dataframe
    
    labels=df['price']
    data=df.drop('price',axis=1)
    
    # label encoder for converting categorical data into numerical data
    
    le=LabelEncoder()
    for col in data.columns:
        if data[col].dtype=='object':
            le.fit(data[col].astype(str))
            data[col]=le.transform(data[col].astype(str))
            
            
    
    
    
    return data,labels

In [5]:
data,labels=create_train_data(train_data)

/home/vs/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [6]:
data.shape

(167, 25)

In [7]:
labels.shape

(167,)

In [8]:
data.head()

,id,fuel,ABS-compatibility,parking-sensor,symboling,num-of-doors,body-style,manufacturer,condition,wheel-base,...,num-of-persons,engine-size,battery-type,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,0,1,0,2,3,1,0,9,0,96.6,...,0,234,4,21,12,8.3,20,6,16,18
1,1,1,0,0,-1,0,4,4,0,103.3,...,2,122,2,17,26,8.5,48,9,24,30
2,2,1,1,2,-1,0,3,21,0,109.1,...,2,141,4,34,15,9.5,7,14,19,25
3,3,1,1,0,1,0,3,1,0,105.8,...,1,131,4,9,24,8.3,15,15,17,20
4,4,1,0,0,0,0,3,12,0,100.4,...,3,181,4,20,20,9.0,18,11,19,25

In [9]:
model=LinearRegression()
model.fit(data,labels)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [10]:
filename = 'finalized_model.sav'
joblib.dump(model, filename)

['finalized_model.sav']