In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
train_data=pd.read_csv('train.csv')
test_data=pd.read_excel('test.xlsx')
sample_data=pd.read_csv('sample.csv')

In [5]:
train_data.head()

,id,fuel,ABS-compatibility,parking-sensor,symboling,normalized-losses,num-of-doors,body-style,manufacturer,condition,...,engine-size,battery-type,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,petrol,ABS not supported,not installed,3,142,two,convertible,mercedes-benz,new,...,234,sli,3.46,3.1,8.3,155,4750,16,18,35056
1,1,petrol,ABS not supported,installed,-1,110,four,wagon,dodge,new,...,122,li-ion,3.34,3.46,8.5,88,5000,24,30,8921
2,2,petrol,ABS supported,not installed,-1,95,four,sedan,volvo,new,...,141,sli,3.78,3.15,9.5,114,5400,19,25,22625
3,3,petrol,ABS supported,installed,1,158,four,sedan,audi,new,...,131,sli,3.13,3.4,8.3,140,5500,17,20,23875
4,4,petrol,ABS not supported,installed,0,108,four,sedan,nissan,new,...,181,sli,3.43,3.27,9.0,152,5200,19,25,13499

In [6]:
train_data.shape

(170, 27)

In [7]:
test_data.shape

(21, 26)

In [8]:
test_data.head()

,id,fuel,ABS-compatibility,parking-sensor,symboling,normalized-losses,num-of-doors,body-style,manufacturer,condition,...,num-of-persons,engine-size,battery-type,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,0,petrol,ABS not supported,installed,1,119,two,hatchback,plymouth,new,...,four,90,li-ion,2.97,3.23,9.4,68,5500,37,41
1,1,petrol,ABS supported,not installed,-2,103,four,sedan,volvo,new,...,four,130,sli,3.62,3.15,7.5,162,5100,17,22
2,2,petrol,ABS not supported,installed,1,113,four,sedan,mazda,new,...,four,91,li-ion,3.08,3.15,9.0,68,5000,31,38
3,3,petrol,ABS not supported,installed,0,91,four,hatchback,toyota,new,...,four,98,li-ion,3.19,3.03,9.0,70,4800,28,34
4,4,petrol,ABS supported,not installed,-1,95,four,sedan,volvo,new,...,four,141,sli,3.78,3.15,8.7,160,5300,19,25

In [9]:
sample_data.head()

   id  price price-category
0   0   5572            Low
1   1  18420           High
2   2   7395            Low
3   3   8358         Medium
4   4  19045           High

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170 entries, 0 to 169
Data columns (total 27 columns):
id                   170 non-null int64
fuel                 170 non-null object
ABS-compatibility    170 non-null object
parking-sensor       170 non-null object
symboling            170 non-null int64
normalized-losses    170 non-null object
num-of-doors         170 non-null object
body-style           170 non-null object
manufacturer         170 non-null object
condition            170 non-null object
wheel-base           170 non-null float64
length               170 non-null float64
width                170 non-null float64
height               170 non-null float64
car-weight           170 non-null int64
engine-type          170 non-null object
num-of-persons       170 non-null object
engine-size          170 non-null int64
battery-type         170 non-null object
bore                 170 non-null object
stroke               170 non-null object
compression-ratio    170 non-null float64
horsepower           170 non-null object
peak-rpm             170 non-null object
city-mpg             170 non-null int64
highway-mpg          170 non-null int64
price                170 non-null object
dtypes: float64(5), int64(6), object(16)
memory usage: 35.9+ KB

In [11]:
train_data.isnull().sum()

id                   0
fuel                 0
ABS-compatibility    0
parking-sensor       0
symboling            0
normalized-losses    0
num-of-doors         0
body-style           0
manufacturer         0
condition            0
wheel-base           0
length               0
width                0
height               0
car-weight           0
engine-type          0
num-of-persons       0
engine-size          0
battery-type         0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [12]:
train_data.price

0      35056
1       8921
2      22625
3      23875
4      13499
5       7499
6       9279
7      10898
8      11248
9      18920
10     11048
11     28248
12      8495
13     16430
14     18150
15      7957
16      5348
17     15998
18      9960
19      8238
20      7957
21     17450
22      9549
23     11259
24         ?
25     16900
26      7895
27     14489
28      8845
29     22470
       ...
140     7898
141    11694
142     5118
143     7295
144    16515
145    30760
146     5499
147    17075
148    21485
149    16695
150    37028
151    16925
152     9295
153     7295
154     6669
155     8189
156     7609
157     7775
158    40960
159     7463
160    20970
161    10345
162     6989
163     9995
164    36000
165    11850
166     7349
167     8845
168    13499
169     9258
Name: price, Length: 170, dtype: object

In [13]:
train_data.columns

Index(['id', 'fuel', 'ABS-compatibility', 'parking-sensor', 'symboling',
       'normalized-losses', 'num-of-doors', 'body-style', 'manufacturer',
       'condition', 'wheel-base', 'length', 'width', 'height', 'car-weight',
       'engine-type', 'num-of-persons', 'engine-size', 'battery-type', 'bore',
       'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [14]:
train_data['ABS-compatibility'].value_counts()

ABS not supported    141
ABS supported         29
Name: ABS-compatibility, dtype: int64

In [15]:
train_data['parking-sensor'].value_counts()

installed         99
not installed     65
not compatible     6
Name: parking-sensor, dtype: int64

In [16]:
train_data['battery-type'].value_counts()

sli        81
li-ion     52
vrla       14
dc         10
wetcell     9
agm         2
msli        1
ssli        1
Name: battery-type, dtype: int64

In [17]:
count=0
for val in train_data.price:
    if val=='?':
        count+=1

In [18]:
count

3

In [19]:
count=0
for val in train_data.fuel:
    if val=='?':
        count+=1

print(count)

0

In [20]:
count=0
for val in train_data['normalized-losses']:
    if val=='?':
        count+=1

print(count)

35

In [21]:
train_data['horsepower'].value_counts().index[0]

'68'

In [22]:
for i in range(train_data.shape[0]):
    if train_data['horsepower'][i]=='?':
        train_data['horsepower'][i]=train_data['horsepower'].value_counts().index[0]

/home/vs/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [23]:
train_data['horsepower'].value_counts()

68     14
70      9
116     8
69      7
110     7
88      6
102     5
84      5
62      5
95      5
76      5
114     5
145     5
101     5
123     4
86      4
97      4
92      4
111     4
182     3
90      3
85      3
160     3
121     3
82      3
73      2
207     2
152     2
184     2
155     2
112     2
156     2
100     2
161     2
94      2
176     2
56      1
175     1
55      1
142     1
120     1
154     1
78      1
134     1
48      1
200     1
52      1
72      1
106     1
58      1
135     1
288     1
115     1
140     1
262     1
Name: horsepower, dtype: int64

# Handling Missing Values

In [24]:
train_data.columns

Index(['id', 'fuel', 'ABS-compatibility', 'parking-sensor', 'symboling',
       'normalized-losses', 'num-of-doors', 'body-style', 'manufacturer',
       'condition', 'wheel-base', 'length', 'width', 'height', 'car-weight',
       'engine-type', 'num-of-persons', 'engine-size', 'battery-type', 'bore',
       'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [25]:
ide=[]
for i in range(train_data.shape[0]):
    if train_data['price'][i]=='?':
        ide.append(i)
                
train_data=train_data.drop(ide,axis=0)
train_data.reset_index(inplace=True,drop=True)

train_data.shape

(167, 27)

In [26]:
for col in train_data.columns:
    ide=[]
    for i in range(train_data.shape[0]):
        if train_data[col][i]=='?':
            ide.append(i)
    for i in ide:
        train_data[col][i]=np.nan

/home/vs/anaconda3/envs/ml/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [27]:
train_data.isnull().sum().sort_values(ascending=False)

normalized-losses    32
stroke                3
bore                  3
peak-rpm              1
num-of-doors          1
price                 0
length                0
fuel                  0
ABS-compatibility     0
parking-sensor        0
symboling             0
body-style            0
manufacturer          0
condition             0
wheel-base            0
height                0
width                 0
highway-mpg           0
car-weight            0
engine-type           0
num-of-persons        0
engine-size           0
battery-type          0
compression-ratio     0
horsepower            0
city-mpg              0
id                    0
dtype: int64

In [28]:
train_data=train_data.drop('normalized-losses',axis=1)

In [29]:
train_data.shape

(167, 26)

In [30]:
train_data.head()

,id,fuel,ABS-compatibility,parking-sensor,symboling,num-of-doors,body-style,manufacturer,condition,wheel-base,...,engine-size,battery-type,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,0,petrol,ABS not supported,not installed,3,two,convertible,mercedes-benz,new,96.6,...,234,sli,3.46,3.1,8.3,155,4750,16,18,35056
1,1,petrol,ABS not supported,installed,-1,four,wagon,dodge,new,103.3,...,122,li-ion,3.34,3.46,8.5,88,5000,24,30,8921
2,2,petrol,ABS supported,not installed,-1,four,sedan,volvo,new,109.1,...,141,sli,3.78,3.15,9.5,114,5400,19,25,22625
3,3,petrol,ABS supported,installed,1,four,sedan,audi,new,105.8,...,131,sli,3.13,3.4,8.3,140,5500,17,20,23875
4,4,petrol,ABS not supported,installed,0,four,sedan,nissan,new,100.4,...,181,sli,3.43,3.27,9.0,152,5200,19,25,13499

In [31]:
train_data.isnull().sum().sort_values(ascending=False)

stroke               3
bore                 3
peak-rpm             1
num-of-doors         1
price                0
length               0
fuel                 0
ABS-compatibility    0
parking-sensor       0
symboling            0
body-style           0
manufacturer         0
condition            0
wheel-base           0
height               0
width                0
highway-mpg          0
car-weight           0
engine-type          0
num-of-persons       0
engine-size          0
battery-type         0
compression-ratio    0
horsepower           0
city-mpg             0
id                   0
dtype: int64

since price is label so we will drop that rows also

stroke, bore, peak-rpm, num-of-doors

In [32]:
train_data['stroke'].isnull().sum()

3

In [33]:
train_data['stroke']

0       3.1
1      3.46
2      3.15
3       3.4
4      3.27
5      3.29
6      3.46
7      3.54
8      3.54
9       3.4
10     3.23
11     3.64
12     3.39
13      2.8
14     3.21
15     3.39
16     3.03
17     3.35
18     2.64
19     3.03
20     3.39
21      3.4
22     3.47
23     2.64
24     3.52
25     3.58
26     3.86
27     3.39
28      3.4
29      NaN
       ...
137    3.03
138    2.64
139    2.36
140    3.41
141    3.15
142    3.39
143    3.29
144    3.52
145    2.87
146    2.19
147     2.9
148     2.8
149     3.9
150    3.41
151    3.23
152    3.46
153    3.23
154     3.4
155    3.35
156    2.64
157    3.19
158    3.58
159    3.46
160     3.4
161    2.76
162    3.07
163    3.29
164    3.58
165    3.27
166    3.03
Name: stroke, Length: 167, dtype: object

In [34]:
train_data['stroke'].median()

3.35

In [35]:
train_data['stroke']=train_data['stroke'].fillna(train_data['stroke'].median())

In [36]:
train_data['stroke'].isnull().sum()

0

In [37]:
train_data['bore'].isnull().sum()

3

In [38]:
train_data['bore'].dtype

dtype('O')

In [39]:
train_data['bore'].value_counts()

3.19    18
3.62    17
3.15    12
2.97     9
3.31     8
3.03     8
3.43     7
3.46     7
3.58     6
3.78     6
3.27     6
2.91     6
3.54     5
3.05     5
3.39     5
3.35     4
3.7      3
3.17     3
3.59     3
3.01     3
3.8      2
3.63     2
3.5      2
3.24     2
3.47     2
3.33     2
3.74     2
2.92     1
3.6      1
2.54     1
3.13     1
3.76     1
2.99     1
3.61     1
3.34     1
2.68     1
Name: bore, dtype: int64

In [40]:
train_data['bore']=train_data['bore'].fillna(train_data['bore'].median())

In [41]:
train_data['bore'].isnull().sum()

0

In [42]:
train_data['num-of-doors'].dtype

dtype('O')

In [43]:
train_data['num-of-doors'].value_counts()

four    92
two     74
Name: num-of-doors, dtype: int64

In [44]:
train_data['num-of-doors']=train_data['num-of-doors'].fillna(train_data['num-of-doors'].value_counts().index[0])

In [45]:
train_data['num-of-doors'].isnull().sum()

0

In [46]:
train_data['peak-rpm'].dtype

dtype('O')

In [47]:
train_data['peak-rpm'].value_counts()

4800    30
5500    29
5000    24
5200    19
5400     9
6000     8
5800     7
5250     7
4200     5
4500     5
4350     4
4750     4
4250     3
4150     3
4400     2
6600     2
5900     2
5600     1
4900     1
5100     1
Name: peak-rpm, dtype: int64

In [48]:
train_data['peak-rpm']=train_data['peak-rpm'].fillna(train_data['peak-rpm'].median())

In [49]:
train_data['peak-rpm'].isnull().sum()

0

In [50]:
train_data.isnull().sum()

id                   0
fuel                 0
ABS-compatibility    0
parking-sensor       0
symboling            0
num-of-doors         0
body-style           0
manufacturer         0
condition            0
wheel-base           0
length               0
width                0
height               0
car-weight           0
engine-type          0
num-of-persons       0
engine-size          0
battery-type         0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

So there is no missing values in the data

In [51]:
label=train_data['price']
data=train_data.drop('price',axis=1)

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
le=LabelEncoder()
for col in data.columns:
    if data[col].dtype=='object':
        le.fit(data[col].astype(str))
        data[col]=le.transform(data[col].astype(str))

In [54]:
data.head()

,id,fuel,ABS-compatibility,parking-sensor,symboling,num-of-doors,body-style,manufacturer,condition,wheel-base,...,num-of-persons,engine-size,battery-type,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg
0,0,1,0,2,3,1,0,9,0,96.6,...,0,234,4,21,12,8.3,20,6,16,18
1,1,1,0,0,-1,0,4,4,0,103.3,...,2,122,2,17,26,8.5,48,9,24,30
2,2,1,1,2,-1,0,3,21,0,109.1,...,2,141,4,34,15,9.5,7,14,19,25
3,3,1,1,0,1,0,3,1,0,105.8,...,1,131,4,9,24,8.3,15,15,17,20
4,4,1,0,0,0,0,3,12,0,100.4,...,3,181,4,20,20,9.0,18,11,19,25

In [55]:
label.head()

0    35056
1     8921
2    22625
3    23875
4    13499
Name: price, dtype: object

In [56]:
x_train=data[:-20]
x_val=data[-20:]
y_train=label[:-20]
y_val=label[-20:]

In [57]:
print(y_train)

0      35056
1       8921
2      22625
3      23875
4      13499
5       7499
6       9279
7      10898
8      11248
9      18920
10     11048
11     28248
12      8495
13     16430
14     18150
15      7957
16      5348
17     15998
18      9960
19      8238
20      7957
21     17450
22      9549
23     11259
24     16900
25      7895
26     14489
27      8845
28     22470
29     15645
       ...
117     6849
118    12945
119    10245
120     7775
121    19699
122     5572
123     6855
124    15750
125     7299
126    45400
127     7603
128    34184
129     7788
130     7099
131    10945
132     6377
133    10698
134    11900
135     6295
136     9980
137     7898
138    11694
139     5118
140     7295
141    16515
142    30760
143     5499
144    17075
145    21485
146    16695
Name: price, Length: 147, dtype: object

In [58]:
print(y_val)

147    37028
148    16925
149     9295
150     7295
151     6669
152     8189
153     7609
154     7775
155    40960
156     7463
157    20970
158    10345
159     6989
160     9995
161    36000
162    11850
163     7349
164     8845
165    13499
166     9258
Name: price, dtype: object

In [59]:
from sklearn.linear_model import LinearRegression

In [60]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [61]:
y_pred=lr.predict(x_val)

In [62]:
y_pred

array([33158.428186  , 15497.18092574,  9163.42468729,  8450.13064402,
        6038.98806647,  8231.25554715,  6284.62820754,  8006.72391533,
       43002.79279313,  7092.84471331, 18509.81443885,  8512.09410608,
        8153.51064117,  8929.89007208, 46577.12689326, 13698.77034446,
        4860.9096268 , 10088.85359294, 22165.50189968,  5089.90105787])

In [63]:
y_val

147    37028
148    16925
149     9295
150     7295
151     6669
152     8189
153     7609
154     7775
155    40960
156     7463
157    20970
158    10345
159     6989
160     9995
161    36000
162    11850
163     7349
164     8845
165    13499
166     9258
Name: price, dtype: object

In [70]:
from sklearn.metrics import mean_squared_log_error

In [71]:
mean_squared_log_error(y_val, y_pred)

0.05315896061379451